
html {
  font-family: Arial, Helvetica;
}

body {
  background-color: #595F72;
  color: #E5D4ED;
  width: 100%;
  margin: 0;
}

nav {
  background-color: #97EFE9;
  color: white;
  display: flex;
  justify-content: space-around;
}

a {
  color: black;
}